<div class="container">
  <div class="row intro-img">img</div>
  <div class="row intro-content">
    <div class="col-3">
      <div class="intro-list-img">img</div>
      <div class="intro-list">

      </div>
    </div>
    <div class="col-9"></div>
  </div>
</div>