<div class="container intro">
  <div class="row intro-img">
    <img style="width: 100%;" src="http://www.arkshipping.com.tw/image/bannerM.jpg" />
  </div>
  <div class="intro-box">
    <div class="intro-nav">
      <div class="intro-list-img">
        <img style="width: 70%;" src="/images/market-removebg-preview.png" />
      </div>
      <a href="/market/container" style="text-decoration: none;"
        class="{{#ifCond sort 'container'}}active{{/ifCond}} mt-1 mb-1">貨櫃船租金成交報導</a>
      <a href="/market/secondHand" style="text-decoration: none"
        class="{{#ifCond sort 'secondHand'}}active{{/ifCond}}">二手船成交報導</a>
      <a href="/market/newBuilding" style="text-decoration: none"
        class="{{#ifCond sort 'newBuilding'}}active{{/ifCond}}">造船市場報導</a>
    </div>

    <div class="intro-bf ml-3 mt-3">
      {{#ifCond sort 'container'}}
      <h4>Container Fixture Report</h4>
      {{/ifCond}}
      {{#ifCond sort 'secondHand'}}
      <h4>Second Hand Sale Report</h4>
      {{/ifCond}}
      {{#ifCond sort 'newBuilding'}}
      <h4>New Building Report</h4>
      {{/ifCond}}
      <div class="marketListBox mt-1">
        {{!-- <ul class="marketList">
          <li>
            <a href="#">
              <div class="marketListItem">11/5-11/11 台灣貨櫃船 成交報導</div>
              <div class="marketTime">2017-11-13 </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="marketListItem">11/5-11/11 台灣貨櫃船 成交報導</div>
              <div class="marketTime">2017-11-13 </div>
            </a>
          </li>
        </ul> --}}
      </div>
      {{!-- <div class="pagination">分頁在這</div> --}}
    </div>
  </div>
</div>