<div class="container intro">
  <div class="row intro-img">
    <img style="width: 100%;" src="http://www.arkshipping.com.tw/image/bannerM.jpg" />
  </div>
  <div class="intro-box">
    <div class="intro-nav">
      <div class="intro-list-img">
        <img style="width: 70%;" src="/images/market-removebg-preview.png" />
      </div>
      <a href="#" style="text-decoration: none;" class="active mt-1 mb-1">貨櫃船租金成交報導</a>
      <a href="#" style="text-decoration: none">二手船成交報導</a>
      <a href="#" style="text-decoration: none">造船市場報導</a>
    </div>

    <div class="intro-bf ml-3 mt-3">
      <h4>Container Fixture Report</h4>
      <div class="marketListBox mt-1">
        <ul class="marketList">
          <li>
            <a href="#">
              <div class="marketListItem">11/5-11/11 台灣貨櫃船 成交報導</div>
              <div class="marketTime">2017-11-13 </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="marketListItem">11/5-11/11 台灣貨櫃船 成交報導</div>
              <div class="marketTime">2017-11-13 </div>
            </a>
          </li>
        </ul>
      </div>
      {{!-- <div class="pagination">分頁在這</div> --}}
    </div>
  </div>
</div>