<div class="col position-list">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Vessel</th>
        <th scope="col">BLT</th>
        <th scope="col">Type</th>
        <th scope="col">Teu</th>
        <th scope="col">@14T</th>
        <th scope="col">Rfr</th>
        <th scope="col">Dwt</th>
        <th scope="col">Draft</th>
        <th scope="col">GEAR</th>
        <th scope="col">LOA</th>
        <th scope="col">Beam</th>
        <th scope="col">Spd/Con</th>
        <th scope="col">Place</th>
        <th scope="col">OpenDate</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info" onclick="window.location='/vessels/123456';">
        <th scope="row">
          Bien Dong Navigator
        </th>
        <td>2004</td>
        <td>CV Neptune 1500</td>
        <td>1,028</td>
        <td>711</td>
        <td>1028</td>
        <td>13,479</td>
        <td>8.3</td>
        <td>Yes</td>
        <td>150.7</td>
        <td>22.9</td>
        <td>19.25/41</td>
        <td>EX DD Ho Chi Ming</td>
        <td>7/25-28</td>
        </a>
      </tr>
    </tbody>
  </table>
</div>