<div class="container form-group mt-5">
  {{!-- {{> messages}} --}}
  <form action="/admin/post/charterer" method="POST">
    {{!-- title --}}
    <div class="row mb-5 form-group">
      <div class="col-3">
        <h3>新增Charterer</h3>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" placeholder="請輸入租家名" name="charterer" value="">
      </div>
      <div class="col-3">
        <button class="btn btn-secondary" type="submit">新增</button>
      </div>
    </div>
  </form>
</div>

<div class="container chartererBox">
  {{#each charterers}}
  <div class="row mb-2 ml-2 mt-2 chartererData">
    <div class="col-10">
      {{this.name}}
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="#">刪除</a>
    </div>
  </div>
  {{/each }}
</div>