<div class="container intro">
  <div class="row intro-img">
    <img style="width: 100%;" src="http://www.arkshipping.com.tw/image/bannerT.jpg" />
  </div>
  <div class="intro-box">
    <div class="intro-nav">
      <div class="intro-list-img">
        <img style="width: 70%;" src="/images/team-removebg-preview.png" />
      </div>
      <a href="#" style="text-decoration: none;" class="active mt-1 mb-1">聯絡我們</a>
    </div>

    <div class="intro-bf ml-3 mt-3">
      <h4>聯絡我們</h4>
      <div class="teamMemberBox mt-1">
        <div class="memberBox">
          <div class="memberName">Lanner Cheng | 程可璋</div>
          <div class="memberData mt-1">
            <div class="memberOffice">886-2-2781-9796</div>
            <div class="memberMob">886-932-024-423 </div>
            <div class="memberEmail">lanner@arkshipping.com.tw</div>
          </div>
        </div>

        <div class="memberBox">
          <div class="memberName">Lanner Cheng | 程可璋</div>
          <div class="memberData mt-1">
            <div class="memberOffice">886-2-2781-9796</div>
            <div class="memberMob">886-932-024-423 </div>
            <div class="memberEmail">lanner@arkshipping.com.tw</div>
          </div>
        </div>
        <div class="memberBox">
          <div class="memberName">Lanner Cheng | 程可璋</div>
          <div class="memberData mt-1">
            <div class="memberOffice">886-2-2781-9796</div>
            <div class="memberMob">886-932-024-423 </div>
            <div class="memberEmail">lanner@arkshipping.com.tw</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>