body {
  font-size: 15px;
  font-family: Arial, "微軟正黑體", "Microsoft JhengHei","Helvetica Neue,Helvetica", sans-serif; 
}

a {
  color: #00B7FF;
}

.nav-box {
  position: relative;
  top: 10px;
  right: 30px;
}

#navbarColor03 ul li a.active{
  color: #c61010;
}

.row-up{
  position: relative;
  top: -15px;
  left: 120px;
}
.navbar{
  background-color: #e6ebef;
  border-bottom: 3px solid #ff9b00;
}

.footer-data:before {
  content: '';
  width: 3px;
    height: 50px;
  margin-right: 5px;
    background-color: #ff9b00;
    float: left;
} 

.footer{
  background-color: #e6ebef;
}

.copyright {
  float: right;
  color: #898989;
  position: relative;
  top: -5px;
  left: 70%;
}


hr {
    border-top: 1px solid gray;
}

.info-data{
  position: relative;
  text-align: center;
  width: 230px;
  height: 390px;
  background-color: #eaf5ff;
  border: solid 1px #dfe3e5;
  padding-top: 10px;
}

.info-title {
  color: #ff9b00;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
}

.info-img{
  border: solid 1px #afb2b4;
}
.info-btn {
  width: 80%;
  position: absolute;
  bottom: 25px;
  right: 25px; 
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
}

.info-content{
  font-size: 16px;
  line-height: 24px;
}

.intro-box{
  display: flex;
  flex-flow: row;
  margin-left: -14px;
  max-width: 100%;
}

.intro-nav a { 
  width: 255px;
  text-decoration: none;
  color: black; 
}

.intro-nav a.active{
  background-color: #ff9b00;
  color: white;
}

.intro-nav{
  display: flex;
  flex-flow: column;
  background-color: #f1efefb7;
  width: 255px;
  min-height: 500px;
  padding: 0px;
  text-align: center;
}

.intro-bg h4{
  color: #ff9b00;
}

.intro-bf h4{
  color: #ff9b00;
}

.intro-content {
  border-top: 3px solid #ff9b00 ;
  background-color: rgb(238, 246, 248);
  padding: 25px;
}

.intro-content h6:before {
 content: url(http://www.arkshipping.com.tw/image/listTag.jpg);
 margin-right: 10px;
}

.intro-content h6{
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 30px;
  font-weight: 300;
}

.intro-content p {
  line-height: 30px;
}

.service-content {
  max-width: 500px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  position: relative;
  top: -15px;
  margin-bottom: 0px;
}

.marketListBox{
  margin: 0 auto;
  line-height: 30px;
  color: #595757;
  width: 720px;
  word-break: break-all;
  border-top: 3px solid #ff9b00 ;
  background-color: rgb(238, 246, 248);
}

.marketList {
  display: inline-block;
  padding: 30px;
}

ol, ul {
  list-style: none;
}

.marketListItem {
  float: left;
  width: 560px;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.marketTime {
  float: right;
  display: inline-block;
}

.marketList li a {
    text-decoration: none;
    color: #595757;
    display: inline-block;
    line-height: 40px;
}

.marketList li {
    border-bottom: 1px solid #c9caca;
    display: inline-block;
    height: 40px;
}

.teamMemberBox{
  border-top: 3px solid #ff9b00 ;
  background-color: rgb(238, 246, 248);
  padding: 25px 60px;
  display: flex;
  flex-flow: row wrap;
  width: 850px;
}


.memberBox{
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 30px;
}

.memberData::before{
  content: "";
  width: 3px;
  height: 80px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  background-color: #ff9b00;
}

.memberName{
  font-size: 17px;
  font-weight: bold;
  float: left;
}
.memberOffice::before {
    content: "Office：";
}

.memberMob::before {
    content: "Mobile：";
}

.memberEmail::before {
    content: "E-mail：";
}


.positionList-table {
  display: table;
}

.positionList-thead{
  display: table-header-group;
}

.positionList-tbody {
  display: table-row-group;
}

.positionList-tr{
  display: table-row;   
}

.positionList-td .positionList-th{
  display: table-cell;
}

$grid-gutter-width: 30px;


.position-list {
  overflow-x: auto;
  margin-right: $grid-gutter-width / 2;
  margin-left: $grid-gutter-width / 2;
  padding-right: 0;
  padding-left: 0;
}

.table {
  margin-top: 50px;
  table-layout: fixed;
  min-width: 1440px;
}

thead th:first-child,
tbody tr:first-child {
    width: 12em;
}

/* type */
thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 10em;
}

/* spd/con */
thead th:nth-child(12),
tbody td:nth-child(12) {
  width: 7em;
}
/* place */
thead th:nth-child(13),
tbody td:nth-child(13) {
  width: 11em;
}

/* opendate */
thead th:nth-child(14),
tbody td:nth-child(14) {
  width: 11em;
}

.table thead tr th{
  border: 1px solid;
}

.timesheet{width:680px;margin:0 auto}.timesheet{border-top:1px solid rgba(250,250,250,0.5);background-color:#333;position:relative}.timesheet.color-scheme-default .bubble-default{background-color:RGBA(252, 70, 74, 1)}.timesheet.color-scheme-default .bubble-lorem{background-color:RGBA(154, 202, 39, 1)}.timesheet.color-scheme-default .bubble-ipsum{background-color:RGBA(60, 182, 227, 1)}.timesheet.color-scheme-default .bubble-dolor{background-color:RGBA(244, 207, 48, 1)}.timesheet.color-scheme-default .bubble-sit{background-color:RGBA(169, 105, 202, 1)}.timesheet.color-scheme-alternative .bubble-default{background-color:#f3552e}.timesheet.color-scheme-alternative .bubble-lorem{background-color:#88c33a}.timesheet.color-scheme-alternative .bubble-ipsum{background-color:#436ae0}.timesheet.color-scheme-alternative .bubble-dolor{background-color:#f4d234}.timesheet.color-scheme-alternative .bubble-sit{background-color:#707d86}.timesheet .scale{height:100%;position:absolute;top:0;left:0;float:left}.timesheet .scale section{float:left;width:59px;text-align:center;color:rgba(250,250,250,0.8);font-family:"Signika Negative";font-size:13px;line-height:24px;font-weight:lighter;border-left:1px dashed rgba(250,250,250,0.2);height:100%}.timesheet .data{margin:28px 0 0 0;padding:0;text-align:left;list-style-type:none;color:rgba(250,250,250,0.8);font-family:"Signika Negative";font-size:13px;overflow:hidden}.timesheet .data li{margin:0 0 3px 0;line-height:22px;height:21px;display:block;clear:both;position:relative;white-space:nowrap}.timesheet .data li:hover .bubble{opacity:1}.timesheet .data li .date{color:#b5b5b5;font-size:14px}.timesheet .data li .label{font-weight:lighter;font-size:14px;padding-left:5px;line-height:21px;color:#979796;white-space:nowrap}.timesheet .data li .bubble{width:24px;height:7px;display:block;float:left;position:relative;top:7px;border-radius:4px;margin:0 10px 0 0;opacity:0.7}#timesheet-alternative{background-color:RGBA(247, 247, 247, 1);border-radius:5px}#timesheet-alternative section{color:RGBA(63, 68, 72, 1);border-left:1px dashed RGBA(63, 68, 72, 0.2)}#timesheet-alternative section:first-child{border-left:1px dashed transparent}#timesheet-alternative .date{display:none}#timesheet-alternative .bubble{margin-right:7px}#timesheet-alternative .label{padding-left:0px;color:RGBA(48, 48, 48, 1)}
/*# sourceMappingURL=timesheet.min.css.map */

.vesselData{
  display: flex;
  flex-direction: row;
}

.vessel-nav-box{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.vessel-box .row +.row {
  margin-top: 30px;
}

.chartererBox{
  border-top: 3px solid #ff9b00 ;
  background-color: rgb(238, 246, 248);
  display: flex;
  flex-flow: row wrap;
}

.chartererData{
  margin: 30px;
  color: black;
  font-size: 24px;
  width: 200px;
}